body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

hr {
    background: black;
    height: 1px;
    border: 0;
}

.qrBox {
    border: 2px solid black;
    padding: 10px;
    height: 160px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-text {
    padding: 10px;
}
